p {
    color: red;
}

.container-fluid {
    border: 1px solid black;
}

.col-8,
.col-34 {
    border: 1px solid black;
}

.row {
    border: 1px solid black;
}

.gif-box {
    display: inline-block;
    margin: 10px;
    /* max-width: 300px;
    max-height: 300px; */

}

.add-fav {
    display: inline-block;
    /* position: relative;
    right: 26px;
    top: 87px; */
}

.gifs {
    text-align: center;
}