* {
    box-sizing: border-box;
}
body {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgb(32, 32, 32);
}

button {
    color: rgb(196, 196, 106);
    background-color:rgb(32, 32, 32);
}

form {
    margin: auto;
}

#comedian-input {
    background-color:rgb(133, 130, 130);
    margin-top: 20px;
}

#add-comedian {
    color: rgb(196, 196, 106);
    background-color:rgb(32, 32, 32);
    margin: auto;
}

.start {
    margin-top: 150px;
}

h1 {
    padding-bottom: 30px;
}

.message {
    color: rgb(196, 196, 106);
}

.gif-box {
    display: inline-block;
    margin: 10px;
    cursor: pointer; 
}

.add-fav,
.rmv-fav {
    display: block;
    position: relative;
    bottom: 5px;
    background-color: black;
    color: rgb(196, 196, 106);
    width: 100%;
    height: 24px;
    font-size: 14px;
    padding-bottom: 15px;
    text-align: center;
    cursor: pointer;

}

.gifs,
.gif-fav {
    text-align: center;
    background-color: rgb(32, 32, 32);
    margin: auto;
    padding-top: 50px;
}

.gif-fav {
    display: none;
}

.rating {
    color: rgb(196, 196, 106);
    font-size: 10px;
    background-color: black;
    padding-right: 4px;
    padding-top: 2px;
    text-align: left;
    height: 20px;
    margin-top: -8px;
    width: 100%;
}







